### 아마존 리뷰 데이터를 사용한 텍스트 요약 모델 만들기
- 데이터 초기 전처리
- 데이터 출처 : https://www.kaggle.com/datasets/mohamedbakhet/amazon-books-reviews

In [1]:
import pandas as pd

In [2]:
### 데이터 로드
filename = '../data/Books_rating.csv'
reviewDF = pd.read_csv(filename)

In [3]:
### 300만 행 존재 (2.66GB)
reviewDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   Id                  object
 1   Title               object
 2   Price               float64
 3   User_id             object
 4   profileName         object
 5   review/helpfulness  object
 6   review/score        float64
 7   review/time         int64
 8   review/summary      object
 9   review/text         object
dtypes: float64(2), int64(1), object(7)
memory usage: 228.9+ MB

In [4]:
### 필요한 컬럼 확인 (review/summary, review/text)
reviewDF.head(3)

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."

In [5]:
### 다음 두 컬럼만 사용할 계획
reviewDF[['review/summary', 'review/text']].head(3)

,review/summary,review/text
0,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,Essential for every personal and Public Library,"If people become the books they read and if ""t..."

In [6]:
### 두 컬럼 중 결측치 값이 존재하는지 확인 => 존재
reviewDF[['review/summary', 'review/text']].isna().sum()

review/summary    407
review/text         8
dtype: int64

In [7]:
### 두 컬럼 중 값이 NaN인 행 제거
reviewDF = reviewDF.dropna(subset=['review/summary', 'review/text'])

In [8]:
### 두 컬럼 중 결측치 값이 존재하는지 확인 => 없음
reviewDF[['review/summary', 'review/text']].isna().sum()

review/summary    0
review/text       0
dtype: int64

In [10]:
# 10만개 리뷰(요약 + 본문)만 따로 저장 (83.3MB)
reviewDF[['review/summary', 'review/text']].head(100000).to_csv('../data/Books_ratings_100k.csv', index=False)